@import '../../../scss/mixins';
@import '../../../scss/colors';

:host {
  .header {
    padding: 30px 0;
    padding-bottom: 0;
    background: $white;
    border-top: 10px solid $color;
  }

  .profile-image {
    margin-right: 30px;
    width: 300px;
    opacity: 0.7;
  }

  .profile-content {
    .name {
      color: darken($color, 20%);
      font-size: 38px;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    .desc {
      color: $color;
      font-family: "Lato", arial, sans-serif;
      font-weight: 400;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .social {
      a {
        background: lighten($color, 20%);
        width: 36px;
        height: 36px;
        display: inline-block;
        @include border-radius(50%);
        color: #fff;
        text-align: center;

        &:hover {
          background: $color;
        }

        .svg-inline--fa {
          font-size: 20px;
          margin-top: 8px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    text-align: center;

    .profile-image {
      float: none !important;
      margin: 0 auto;
    }

    .profile-content {
      float: none !important;
      text-align: center;
    }

    .project-image {
      margin-bottom: 15px;
    }
  }
}
