<div class="row">
  <div class="primary col-lg-8 col-12">
    <section class="about section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">About Me</h2>
        <div class="content">
          <p>
            Hello there. My name is Jimenez Weerden and I’m a fullstack Javascript developer from
            Amsterdam. I’ll use this website to post my work- and blog about the things I have read and like. Have a
            look around!
          </p>

        </div><!--//content-->
      </div><!--//section-inner-->
    </section><!--//section-->

    <section class="latest section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Latest Projects</h2>
        <div class="content">

          <div class="item featured text-center">

            <div class="featured-image has-ribbon">
              <a routerLink="/projects/vattenfall">
                <img class="img-fluid project-image rounded shadow-sm"
                     src="./assets/images/projects/project-featured.png" alt="Vattenfall"/>
              </a>
              <div class="ribbon">
                <div class="text">New</div>
              </div>
            </div>

            <h3 class="title mb-3"><a routerLink="/projects/vattenfall">Vattenfall - Mijn Vattenfall</a></h3>

            <div class="desc text-left">
              <p>At Vattenfall I've worked on the redesign from Nuon to Vattenfall. The redesign contained rebuilding the whole Mijn Vattenfall application from AngularJS to Angular and changing the whole look and feel from the old Nuon style to that of Vattenfall.
              I've contributed to an internal component library with generic components that could be used across the company for multiple applications.</p>
            </div><!--//desc-->

          </div><!--//item-->

          <hr class="divider"/>

          <div class="item row">
            <a class="col-md-4 col-12" routerLink="/projects/vattenfall">
              <img class="img-fluid project-image rounded shadow-sm" src="assets/images/projects/project-2.png"
                   alt="Rabobank"/>
            </a>
            <div class="desc col-md-8 col-12">
              <h3 class="title">
                <a routerLink="/projects/rabobank">Rabobank - Mobile banking app (investment
                  module)</a>
              </h3>
              <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a
                tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque,
                mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
              <p><a class="more-link"
                    routerLink="/projects/rabobank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
            </div><!--//desc-->
          </div><!--//item-->

          <div class="item row">
            <a class="col-md-4 col-12" routerLink="/projects/growth-keeper">
              <img class="img-fluid project-image rounded shadow-sm" src="assets/images/projects/project-3.png"
                   alt="Growth keeper"/>
            </a>
            <div class="desc col-md-8 col-12">
              <h3 class="title">
                <a routerLink="/projects/growth-keeper">Growth Keeper</a>
              </h3>
              <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a
                tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque,
                mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
              <p>
                <a class="more-link" routerLink="/projects/growth-keeper">
                  <i class="fas fa-external-link-alt"></i>Find out more
                </a>
              </p>
            </div><!--//desc-->
          </div><!--//item-->

          <div class="item row">
            <a class="col-md-4 col-12" routerLink="/projects/tippiq">
              <img class="img-fluid project-image rounded shadow-sm" src="assets/images/projects/project-4.png"
                   alt="Tippiq"/>
            </a>
            <div class="desc col-md-8 col-12">
              <h3 class="title">
                <a routerLink="/projects/tippiq">Tippiq</a>
              </h3>
              <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a
                tortor eu turpis pharetra consequat quis non metus.</p>
              <p>
                <a class="more-link" routerLink="/projects/tippiq">
                  <i class="fas fa-external-link-alt"></i>Find out more
                </a>
              </p>
            </div><!--//desc-->
          </div><!--//item-->

        </div><!--//content-->
      </div><!--//section-inner-->
    </section><!--//section-->

    <section class="github section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">My GitHub</h2>
        <div id="github-graph" class="github-graph"></div><!--//github-graph-->

      </div><!--//secton-inner-->
    </section><!--//section-->
  </div><!--//primary-->

  <div class="secondary col-lg-4 col-12">
    <aside class="info aside section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
          <ul class="list-unstyled">
            <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Amsterdam, NL</li>
            <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:jimenez@weerden.tv">jimenez@weerden.tv</a>
            </li>
          </ul>
        </div><!--//content-->
      </div><!--//section-inner-->
    </aside><!--//aside-->

    <aside class="skills aside section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Skills</h2>
        <div class="content">
          <p class="intro">
            I have worked with many different technologies and am still eager to learn and try out new things.
            The technologies listed below are the ones I've worked with the most.</p>
          <div class="skillset">

            <div class="item">
              <h3 class="level-title">Javascript & Typescript<span class="level-label" data-toggle="tooltip"
                                                                   data-placement="left" data-animation="true"
                                                                   title="Frontend & Backend"><i
                class="fas fa-info-circle"></i>Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="96%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">Angular<span class="level-label" data-toggle="tooltip" data-placement="left"
                                                   data-animation="true">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="96%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label" data-toggle="tooltip"
                                                                        data-placement="left" data-animation="true">Expert</span>
              </h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="96%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">NodeJS<span class="level-label" data-toggle="tooltip" data-placement="left"
                                                  data-animation="true">Expert</span>
              </h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">React<span class="level-label" data-toggle="tooltip" data-placement="left"
                                                 data-animation="true">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left"
                                                data-animation="true" title="Small implementations"><i
                class="fas fa-info-circle"></i>Intermediate</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="40%">
                </div>
              </div><!--//level-bar-->
            </div><!--//item-->

            <p><a class="more-link" href="https://www.github.com/jimenezweerden" target="_blank"><i
              class="fas fa-external-link-alt"></i>More on GitHub</a></p>
          </div>
        </div><!--//content-->
      </div><!--//section-inner-->
    </aside><!--//section-->

    <aside class="languages aside section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Languages</h2>
        <div class="content">
          <ul class="list-unstyled">
            <li class="item">
              <span class="title"><strong>Dutch: </strong></span>
              <span class="level">Native Speaker
                  <br class="visible-xs"/>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  </span>
            </li><!--//item-->
            <li class="item">
              <span class="title"><strong>English: </strong></span>
              <span class="level">Excellent
                  <br class="visible-sm visible-xs"/>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
            </li><!--//item-->
          </ul>
        </div><!--//content-->
      </div><!--//section-inner-->
    </aside><!--//section-->

    <aside class="blog aside section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Latest Blog Posts</h2>
        <div id="rss-feeds" class="content">

        </div><!--//content-->
      </div><!--//section-inner-->
    </aside><!--//section-->

  </div><!--//secondary-->
</div>
