<div class="row">
  <div class="primary col-lg-8 col-12">
    <section class="about section">
      <div class="section-inner shadow-sm rounded">
        <h2 class="heading">About</h2>
        <div class="content">
          <p>
            This website is a space to experiment with new technologies built with JavaScript/TypeScript.
          </p>

        </div>
      </div>
    </section>

    <section class="latest section">
    </section>
  </div>

  <div class="secondary col-lg-4 col-12">
  </div>
</div>
