@import './src/scss/colors';

.tech-badge {
  background-color: $color;
}

.project-section-inner {
  label {
    font-style: italic;
    color: darken($color, 30%);
    border-bottom: 1px dotted darken($color, 30%);
  }

  img {
    width: 100% !important;
  }
}
