.ie-banner {
  display: none;
  margin-bottom: 0;
  text-align: center;
  font-size: 22px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

_:-ms-fullscreen, :root .ie11up {
  .ie-banner {
    display: block !important;
  }
}
