on: push
name: lint-and-test-frontend
jobs:
  install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # NOTE: prod. builds and deployments are done via Heroku
      - name: install lint and test
        run: |
          cd ./frontend
          yarn
          yarn lint
          yarn test --watch=false
          yarn e2e-ci
